@font-face {
    font-family: iranyekan;
    src: url(../fonts/iran_yekan.ttf);
}

*{
    font-family: iranyekan;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #03a9f4;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #2599cd;
}

.limit-text {
    display: block;
    width: 100px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
#id_password{
    display: inline-block;
}
#togglePassword{
    cursor: pointer;
    display: inline-block;
    position: absolute;
    margin-right: -28px;
    margin-top: 11px;
}
.modal-title{
    margin-bottom: 15px !important;
}
.my-modal button{
    margin-left: 10px;
}
td img{
   max-width: 60px;
}
.custom-paginate{
    margin-top: 50px;
    float: left;
}
.total-paginate{
    float: left;
    margin-top: -50px;
}
